extends layout

block content
    div 作者 
      a(href="/users/#{doc.user}") #{doc.author}
      img(src='#{doc.avatar}?s=48')
    div 发表于 #{moment(doc.time).fromNow()}
    article
      header
        h4= "标签：" + doc.tag
        h1= doc.title
      p
        pre= doc.content
      if user && doc.author == user.name
        a(href="/posts/#{doc._id}/edit") 修改
        a(href="/posts/#{doc._id}/delete",onclick="if(confirm('确定删除?')==false) return false;") 删除
    p 阅读次数 #{doc.pv}
    each comment in doc.comments
      div
        p
          img(src="#{comment.avatar}?s=30") 
          a(href="#{comment.website}") #{comment.name}
          span 评论于 #{moment(comment.time).fromNow()}
        p= comment.content
    
    form(method="post" action="/posts/#{doc._id}/comments")
      if user
        input(type="hidden" name="name" value="#{user.name}")
        input(type="hidden" name="email" value="#{user.email}")
        input(type="hidden" name="website" value="/users/#{user._id}")
        br
      else 
        姓名：
        input(type="text" name="name" required="required")
        br
        邮箱：
        input(type="text" name="email" required="required")
        br
        网址：
        input(type="text" name="website" value="http://" required="required")
        br
      textarea(name="content" rows="5" cols="80")
      br
      br
      input(type="submit" value="留言")
