each post, index in posts
    if index % 3 === 0 
        | <div class="row">
    .col-md-4
        h2
          a(href='/posts/#{post._id}')= post.title
        p
          small
            a(href="/users/#{post.user}/posts") #{post.author} 
            发表于  #{moment(post.time).fromNow()}
        p
          阅读 #{post.pv} 评论 #{post.comments.length}
    if index % 3 === 2 || index === posts.length - 1
        | </div>
        
div
  if page > 1
    span
      a(title="上一页" href="?p=#{page-1}") 上一页
  if page < total/size
    span
      a(title="下一页" href="?p=#{page+1}") 下一页

