extends layout

block content
  table(class="table table-striped")
    thead
      tr
        th 姓名
        th 邮箱
        th
        th
        th
    tbody
      each user in users.length ? users : ['There are no users']
        tr
          td
            a(href='/users/#{user._id}') #{user.name}
          td= user.email
          td
            img(src='#{user.avatar}?s=48')
          td
            a(href='/users/#{user._id}/edit')
              span(class="glyphicon glyphicon-pencil",aria-hidden="true")
              |&nbsp;&nbsp;edit
          td 
            a(href='/users/#{user._id}/delete') 
              span(class="glyphicon glyphicon-remove",aria-hidden="true")
              |&nbsp;&nbsp;delete
        
      tr
        td
        td
        td
        td 
            if page > 1
              span
                a(title="上一页" href="?p=#{page-1}") 上一页
        td        
            if page < total/size
              span
                a(title="下一页" href="?p=#{page+1}") 下一页
        